@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #1c1f22;
}

:root {
  --mainOpacity: rgba(0, 0, 0, 0.55);
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('./images/PublicImages/image-2.jpg');
  opacity: var(--mainOpacity);
  height: 25em !important;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-color {
  background-color: #0e76a8;
}

.col-image-left {
  /* add image-4*/

  background-image: url('./images/PublicImages/laptop.jpeg');
  background-size: cover;
  height: 25em !important;
}

.col-image-right {
  background-image: url('./images/PublicImages/book.jpeg');
  background-size: cover;
  height: 25em !important;
}

.lost-image {
  background-image: url('./images/PublicImages/image-3.jpg');
  height: 25em !important;
  width: '720';
}

.homepage-carousel-title {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.book-div {
  width: 480px;
  height: 384px;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

#searchBookCard {
  background: dodgerblue;
}

.searchBooksMain {
  background: #0e76a8;
}

#submit-question {
  background: rgb(14 165 233);
}
/*change hover color for #submit-question */
#submit-question:hover {
  background: rgb(2 132 199);
}

.glass {
  background: hsla(0, 0%, 100%, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid hsla(228, 22%, 87%, 0.2);
}

.glass:hover {
  background: hsla(0, 0%, 100%, 0.7);
  border: 1px solid #fff;
  transform: scale(1.07);
  transition: all 0.3s ease-in-out;
}

img {
  filter: opacity(0.5) drop-shadow(0 0 rgb(29, 28, 28));
  /* glow effect  */
  -webkit-filter: drop-shadow(0 0 5px #fff);
}
